---
import "./MenubarDemo.css"
---

<div class="page">
	<header role="banner">
		<div class="title">Your Awesome WebSite</div>
		<div class="tagline">Using the Menubar element for your site navigation</div>
	</header>
	<nav aria-label="Your Awesome WebSite">
		<ul class="o-menubar-navigation" role="menubar" aria-label="Your Awesome WebSite">
			<li role="none">
				<a role="menuitem" href="#home"> Home</a>
			</li>
			<li role="none">
				<a class="o-menubar-navigation__top-link--expandable" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#about"> About</a>
				<ul role="menu" aria-label="About">
					<li role="none">
						<a role="menuitem" href="#overview">Overview</a>
					</li>
					<li role="none">
						<a role="menuitem" href="#team">Our Team</a>
					</li>
					<li role="none">
						<a class="o-menubar-navigation__link--expandable" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#facts"> Facts</a>
						<ul role="menu" aria-label="Facts">
							<li role="none">
								<a role="menuitem" href="#history">History</a>
							</li>
							<li role="none">
								<a role="menuitem" href="#awards">Awards</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li role="none">
				<a class="o-menubar-navigation__top-link--expandable" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#services"> Services</a>
				<ul role="menu" aria-label="Services">
					<li role="none">
						<a role="menuitem" href="#marketing">Marketing</a>
					</li>
					<li role="none">
						<a class="o-menubar-navigation__link--expandable" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#e-commerce"> E-Commerce</a>
						<ul role="menu" aria-label="E-Commerce">
							<li role="none">
								<a role="menuitem" href="#shop">Shop</a>
							</li>
							<li role="none">
								<a role="menuitem" href="#marketplace">Marketplace</a>
							</li>
						</ul>
					</li>
					<li role="none">
						<a role="menuitem" href="#sign-up">Sign Up</a>
					</li>
					<li role="separator"></li>
					<li role="none">
						<a role="menuitem" href="#visit">Visit</a>
					</li>
					<li role="none">
						<a role="menuitem" href="#connect">Connect</a>
					</li>
				</ul>
			</li>
			<li role="none">
				<a class="o-menubar-navigation__top-link--expandable" role="menuitem" aria-haspopup="true" aria-expanded="false" href="#contact"> Contact</a>
				<ul role="menu" id="sub-menu-academics" aria-label="Contact">
					<li role="none">
						<a role="menuitem" href="#email">Email</a>
					</li>
					<li role="none">
						<a role="menuitem" href="#phone">Phone</a>
					</li>
					<li role="none">
						<a role="menuitem" href="#other">Other</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

	<div class="main">
		<section aria-labelledby="id-page-title">
			<h1 id="id-page-title" class="page_title">Your Awesome WebSite</h1>
			<div class="content">
				<p></p>
			</div>
		</section>
	</div>

	<footer role="contentinfo">Your Awesome WebSite footer information</footer>
</div>

<script src="./MenubarDemo.ts"></script>
